body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.topper {
  background-color: hsl(248, 32%, 49%) !important;
  color: #fff;
  font-size: 14px !important;
  font-weight: 400 !important;
  margin-bottom: 25px;
  text-transform: none !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 5px;
  margin-right: auto;
  margin-left: 15px;
  outline: none;
  border: 0;
  width: auto;
}

.container {
  position: flex;
  align-items: center;
  height: 200px;
  margin-top: 100px;
  border-radius: 15px;
  border: 1px;
}

.bigtext {
  padding-top: 150px;
  font-weight: 700;
  font-size: 40px;
  padding-left: 50px;
  padding-bottom: 5px;
}

.smalltext {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5rem;
  padding-left: 50px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.col1 {
  color: #fff;
  text-align: left;
}

.col2 {
  align-items: center;
  text-align: center;
}

.row {
  padding: 80px 60px 80px 60px;
  background-image: url('./images/bg-intro-desktop.png');
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
}

.foot {
}

.terms {
  color: hsl(0, 100%, 74%);
  font-size: 10px;
}

.agreetext {
  font-size: 10px;
  color: hsl(246, 25%, 77%);
}

/* form */
:root {
  --error-color: #dc3545;
  --success-color: #28a745;
  --warning-color: #ffc107;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container2 {
  background-color: #fff;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: auto;
  margin-left: 15px;
}

.form {
  padding: 10px 20px;
}

.form h1 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 5px;
}

.form-field label {
  display: block;
  color: #777;
  margin-bottom: 5px;
}

.form-field input {
  border: solid 2px #f0f0f0;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  display: block;
  width: 100%;
  font-weight: 600;
}

.form-field input:hover {
  outline: none;
  border-color:#9ecaed;
  box-shadow:0 0 10px #9ecaed;
}

.form-field input:focus {
  outline: none;
  border-color:#9ecaed;
  box-shadow:0 0 10px #9ecaed;
}

.form-field.error input {
  border-color: var(--error-color);
}

.form-field.success input {
  border-color: var(--success-color);
}

.form-field small {
  color: var(--error-color);
}

.yaysub {
  background-color: hsl(154, 59%, 51%);
  color: #fff;
}

/* button  */
/* .btn{
  width: 100%;
  padding: 3%;
  background: #007bff;
  border-bottom: 2px solid #007bff;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  color: #fff;
  text-transform: uppercase;
} */

.yaysub:hover {
  border: 2px solid blue;
  border-radius: 1px;
}
.yaysub:focus { 
  outline: none;
  border-color: #77d17c;
  box-shadow: 0 0 10px #256294;
}


/* responsiveness */

@media screen and (max-width: 375px) {
  .container {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    height: 200px;
    width: 315px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
    width: 375px;
  }
  .topper {
    border-left: 0px;
    margin-left: 45px !important;
    width: 250px;
  }
  .smalltext {
    padding-bottom: 0px !important;
    padding-left: 0px !important;
  }
  .bigtext {
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .container2 {
    margin-left: 35px !important;
    width: 282px;
  }
  .col1 {
    margin-left: 20px;
    margin-bottom: 15px;
  }
  .col2 {
    right: 50px !important;
    margin-left: 0px;
    width: 250px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media screen and (min-width: 500px) {
  .container {
    margin-top: 0px;
  }

  .bigtext {
    padding-top: 100px;
  }
  .col1 {
    padding: 0px 0px 0px 0px;
  }
  .row {
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 40px;
    padding-right: 50px;
  }
  .topper {
    margin-left: 40px;
    width: 300px;
  }
  .container2 {
    width: 300px;
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px){
  .topper {
    width: 500px;
  }
  .container2 {
    width: 500px;
  }
  .container {
    margin-top: 60px;
  }
}

@media screen and (min-width: 976px) {
  .container {
    margin-top: 100px;
  }
  .col1 {
    text-align: center;
  }
  .col2 {
    margin-right: 0px;
  }
  .topper {
    width: 400px;
    margin-left: 45px;
  }
  .smalltext {
    padding-left: 22px;
    padding-bottom: 50px;
    margin-bottom: 10px;
  }
   .container2 {
    margin-left: 45px;
    width: 400px;
  } 
}  